<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Francesca Raspoli</title>
  </head>
  <body>
    <h1>Benvenuto nella pagina della nostra fotografa
       Francesca Raspoli</h1>
       <br />
      <h5>Ecco alcuni dei suoi scatti migliori!</h5>
       <div class="card mb-3">
        <div class="row g-0">
            <div class="col-sm">
                <img src="E:\Progetto Fotografi\Studio-fotografico\components\Immagini\foto2.jpg" class="img-fluid rounded-start" width="500" height="500" />
                <br />
                <img src="E:\Progetto Fotografi\Studio-fotografico\components\Immagini\foto1.jpg" class="img-fluid rounded-start" width="500" height="500" />
                <br />
                <img src="E:\Progetto Fotografi\Studio-fotografico\components\Immagini\foto3.jpg" class="img-fluid rounded-start" width="500" height="500" />
                <br />
                <img src="E:\Progetto Fotografi\Studio-fotografico\components\Immagini\foto4.jpg" class="img-fluid rounded-start" width="500" height="500" /> 
                <br />
                <img src="E:\Progetto Fotografi\Studio-fotografico\components\Immagini\foto5.jpg" class="img-fluid rounded-start" width="500" height="500" />
                <br />
                <img src="E:\Progetto Fotografi\Studio-fotografico\components\Immagini\foto6.jpg" class="img-fluid rounded-start" width="500" height="500" />
            </div>
        </div>
    </div>
  </body>
</html>