<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Gigio Poretti</title>
  </head>
  <body>
    <a id="fotografo2"></a><br>
    </br>
    <h1>Benvenuto nella pagina del nostro fotografo Gigio Poretti</h1>
        <br />
       <h5>Ecco alcuni dei suoi scatti migliori!</h5>
        <div class="card mb-3">
         <div class="row g-0">
             <div class="col-sm">
                 <img src="E:\Progetto Fotografi\Studio-fotografico\components\Immagini\foto5.jpg" class="img-fluid rounded-start" width="300" height="300" style="float:right" />
                 <br />
                 <img src="E:\Progetto Fotografi\Studio-fotografico\components\Immagini\foto6.jpg" class="img-fluid rounded-start" width="300" height="300" style="float:right" />
                 <br />
                 <img src="E:\Progetto Fotografi\Studio-fotografico\components\Immagini\foto7.jpg" class="img-fluid rounded-start" width="300" height="300" style="float:right" />
                 <br />
                 <img src="E:\Progetto Fotografi\Studio-fotografico\components\Immagini\foto8.jpg" class="img-fluid rounded-start" width="300" height="300" style="float:right" /> 
                 <br />
                 <p  style="text-align:center">I miei colleghi
                    <br/>
                    <a href="E:\Progetto Fotografi\Studio-fotografico\components\Fotografi\Francesca Raspoli.html">Francesca Raspoli</a>
                    <a href="E:\Progetto Fotografi\Studio-fotografico\components\Fotografi\Lucio Belvedere.html">Lucio Belvedere</a>
                  </p>
                 
             </div>
         </div>
     </div>
  </body>
</html>